.dynamic-fields {
  .supplies-label {
    color: #fc7c5f;
    margin-bottom: 20px;
  }

  .plus-supply {
    border-radius: 5rem;
    background-color: #fc7c5f;
    border-color: #fc7c5f;
    color: white;
    // background-color: #73353b;
  }

  .minus-supply {
    background-color: #fc7c5f;
    border-color: #fc7c5f;
    border-radius: 5rem;
    margin-top: 5px;
  }
}
