.page-register-register-card-container {
    margin-top: 10vh;
}

@media screen and (max-width: 992px) {
    .page-register-register-card-container {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}