.component-main-header-content {
  .main-header-header {
    background-color: #73353b;
    height: 90px;
    display: flex;
    align-items: center;
  }

  .main-header-logo {
    height: 50%;
  }

  @media screen and (max-width: 992px) {
    .main-header-logo {
      height: 35%;
    }
  }
}
