.component-base-layout-content {
  .base-layout-menu {
    background-color: #fc7c5f !important;
    color: #fff;
    padding-top: 10px;
    width: 100%;
    height: 100%;
  }

  .base-layout-menu-item {
    background-color: #fc7c5f !important;
    color: #fff;
    font-size: 18px;
  }
}
